{%extends 'Admin/adminheader.html' %}
{%load static %}
{%block contents%}
<form action="{% url 'adminsavecategory' %}" method="post">
    {% csrf_token %}
    <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
            <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Category</h2>
            </div>
        </div>
        <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="form-group mb-3">
                    <label for="name">Category Name</label>
                    <input
                        id="name"
                        name="cat_name"
                        type="text"
                        class="form-control validate"
                        required
                    />
                </div>
              
            </div>
           
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Category Now</button>
            </div>
        </div>
    </div>
</form>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{%endblock%}
